.offer-section {
    &.offer-section--relations {
        padding: 40px 0 20px;
    }

    .offer-block {
        .inner-box {
            .image {
                display: flex;
                width: 100%;
                height: 200px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                
                img {
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .lower-content {
                h3,
                .text {
                    text-align: center;
                }

                .read-more {
                    display: block;
                    text-align: center;
                    color: $origen-red;
                    padding: 0;
                    margin: 16px 0 0;
                    
                    &::before {
                        display: none;
                    }

                    .fa {
                        color: $origen-red;
                    }
                }
            }
        }
    }
}

.services-title-box.services-title-box--left {
    padding: 80px 0 40px;

    .title-box {
        text-align: left;

        .text {
            max-width: none;
        }
    }
}