// Common colors
$black: #000000;
$white: #FFFFFF;
$light-bg: #F9F8FC;

// Custom colors
$origen-grey: #3E402C;
$origen-grey-darker: darken($origen-grey, 5);
$origen-grey-lighter: lighten($origen-grey, 5);

$origen-red: #C41200;
$origen-red-darker: darken($origen-red, 5);
$origen-red-lighter: lighten($origen-red, 5);