.theme_color {
    color: $origen-red !important;
}

.theme-btn {
    cursor: pointer;

    @media only screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }
    
    &.btn-style-one,
    &.btn-style-two,
    &.btn-style-five {
        background: $origen-red;
        border: 2px solid $origen-red;

        &:hover {
            background-color: transparent;
            color: $origen-red;
        }
    }

    &.btn-style-three {
        &:hover {
            border-color: $origen-red;
            background: $origen-red;
        }
    }
}

main {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    .page-breadcrumb {
        li {
            color: $origen-red;

            a {
                color: $white;

                &:hover {
                    color: $origen-red;
                }
            }
        }
    }

    .page-title {
        &::before {
            background-color: rgba($origen-grey, 0.4);
        }
    }

    section {
        .sec-title,
        .title-box {
            h2 {
                color: $origen-grey !important;
            }
            .title-text {
                color: $origen-grey-lighter;
            }
        }

        .owl-carousel.owl-theme {
            .owl-dots {
                .owl-dot {
                    &:hover, 
                    &.active {
                        background-color: $origen-red;
                    }
                }
            }
        }
    }
}

.contact-form {
    input,
    select,
    textarea {
        background-color: rgba(#FFF, 0.4);
        color: $origen-grey;

        &:focus {
            border-color: $origen-red;
        }
    }

    .message-btn {
        background-color: $origen-red;
        border-color: $origen-red;

        &:hover {
            background-color: $origen-red-darker;
            border-color: $origen-red-darker;
        }
    }
}

.modal {
    &-dialog {
        background-color: #FFF;
    }

    &-content {
        border: none;
    }

    &-header,
    &-body,
    &-footer {
        position: relative;

        &:empty {
            display: none;
        }
    }

    &-title {
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.8em;
        margin: 0;
        color: $origen-grey;
    }

    button.close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: $origen-red;
    }
}

.lowercase {
    text-transform: lowercase !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.nowrap {
    white-space: nowrap;
}

.scroll-to-top {
    bottom: 0;
    background: $origen-red;

    &:hover {
        background: $origen-red-darker;
    }
}